<% layout('./layouts/boilerplate')  %>

<div class="continer col-6 m-4">
   <div class="card p-3">
    <form method="post" >
        <div class="mb-3">
            <label for="Job_title" class="form-label fw-bold">Job Title</label>
            <input type="text" name="job_title" class="form-control" id="Job_title" placeholder="Mern"/>
          </div>  
          <div class="mb-3">
            <label for="Job_description" class="form-label fw-bold">Job Description</label>
            <input type="text" name="job_description" class="form-control" id="Job_title" placeholder="Description"/>
          </div>  

          <div class="mb-3">
            <label for="company_name" class="form-label fw-bold">Company Name</label>
            <input type="text" name="company_name" class="form-control" id="Job_title" placeholder="TCS"/>
          </div>  
          <div class="mb-3">
            <label for="location" class="form-label fw-bold">Location</label>
            <input type="text" name="location" class="form-control" id="Job_title" placeholder="Location"/>
          </div>  
          <div class="mb-3">
            <label for="pay" class="form-label fw-bold">Salary:</label>
            <input type="text" name="pay" class="form-control" id="Job_title" placeholder="3,00,000-3,50,000PA"/>
          </div>  
          <div class="mb-3">
            <label for="url" class="form-label fw-bold">Job Link</label>
            
            <input type="text" name="url" class="form-control" id="password" placeholder="Paste the link here"/>
          </div> 
          <button type="submit" class="btn btn-success ml-0 col-12 ">Submit</button>


    </form>
   </div>
</div>